<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385097477534-lcdtu4dsb14gqhe81nlt10qgpucdvlfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385097477534-lcdtu4dsb14gqhe81nlt10qgpucdvlfi</string>
	<key>API_KEY</key>
	<string>AIzaSyDDM_1Ldt8ba-U2xsv76SiRAOlPYOk6rsA</string>
	<key>GCM_SENDER_ID</key>
	<string>385097477534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gem.mobile</string>
	<key>PROJECT_ID</key>
	<string>gem-dubai</string>
	<key>STORAGE_BUCKET</key>
	<string>gem-dubai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385097477534:ios:8c2770e9aa969b5ad53a8f</string>
</dict>
</plist>